// Header

#logo {
  display: block;
  margin: 9% auto 11% auto;
  width: 52%;
}

header {
  background: transparent image-url('hero.jpg') no-repeat center top;
  background-size: cover;
  overflow: hidden;
}

html, body {
  height: 100%;
}

/* ======================================= */

@media (min-width: 1100px) {

  // Freeze the growth of the logo
  #logo {
    margin: 99px auto 121px;
    width: 572px;
    height: 399px;
  }

  // Keep the header above the fold, from hence forth.
  header {
    max-height: 619px;
  }

} // End 1100px min-width
