
// Footer

#tidings {
  display: none;
}

#social i {
  font-size: 20px;
  margin-top: 8px;
}

#social li a {
  color: #323232;
  background-color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: inline-block;
  list-style: none;
  transition-property: background-color, color;
  transition-duration: 0.35s;
}

#social li a:hover {
  color: white;
  background-color: #62cff0;
}

#social li {
  width: 42px; /* fallback for browsers without support for calc() */
  width: calc(100% / 6.5);
  display: inline-block;
}

#social {
  width: 300px;
  padding: 0;
  margin: 40px auto 25px;
}

.link-divider {
  margin: 0 10px;
}

address a, address a:visited {
  color: white;
  text-decoration: none;
  transition: color 0.35s;
}

address a:hover {
  color: #F6595B;
}

address {
  line-height: 24px;
  font-size: 16px;
  padding: 20px 0;
  font-style: normal;
}

#partners img {
  height: 32px;
}

#awards img {
  width: 175px;
}

#awards img, #partners img {
  margin: 50px auto;
  display: block;
}

footer h2 {
  background-color: #212121;
  padding: 20px 0;
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}

footer {
  padding: 20px 0 0 0;
  text-align: center;
  background-color: #323232;
  color: white;
}

// Contact

#contact button {
  width: 100%;
  padding: 12px 0;
  border: 0;
  text-transform: uppercase;
  background-color: #62cff0;
  color: white;
}

#contact textarea {
  margin: 8px 0 0px 0;
  height: 120px;
}

#contact input {
  margin: 8px 0 20px 0;
}

#contact input,
#contact textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 18px;
}

#contact label {
  font-style: italic;
}

#contact form {
  padding: 20px 30px 40px;
  background-color: #eaeaea;
}

#contact h2 {
  line-height: 30px;
  font-size: 32px;
  color: #F6595B;
  background-color: white;
  padding: 30px 0 20px 30px;
  margin: 0;
}

// What We Do

#what-we-do p {
  margin: 0;
  color: #323232;
}

#what-we-do h3  {
  margin: 0 0 18px 0;
  font-size: 18px;
  color: #323232;
}

#what-we-do article .first {
  border-bottom: 1px solid #eee;
}

#what-we-do article {
  line-height: 24px;
  padding: 35px 30px 30px;
}

#what-we-do {
  background-color: white;
  margin: 0;
}

// Header

#tagline span {
  font-size: 20px;
}

#tagline {
  line-height: 30px;
  font-size: 32px;
  color: #f8f8f8;
  padding: 30px 0 20px 30px;
  margin: 0;
}

#crossbar {
  margin-bottom: -114px;
  background-color: #F6595B;
  height: 114px;
}

#logo {
  display: block;
  margin: 9% auto 11% auto;
  width: 52%;
}

header {
  background: transparent image-url('hero.jpg') no-repeat center top;
  background-size: cover;
  overflow: hidden;
}

// General Layout Element Flow Styles

.stackable {
  width: 100%;
  flex: 1 100%;
}

.flex-container {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.pagewrap { // main & footer
  margin: 0 auto;
  max-width: 1100px;
}

/* ======================================= */

@media (min-width: 700px) {

  #contact .second label,
  #contact .second input,
  #contact button {
    width: 98%;
    display: block;
    float: right;
  }

  #contact input,
  #contact textarea {
    width: 98%;
  }

  #what-we-do article .first {
    border-bottom: 0;
    border-right: 1px solid #eee;
  }

  main .stackable {
    flex: 1;
  }
} // End 700px

@media (min-width: 1020px) {

  // Footer

  #social {
    margin: 30px 0px 25px auto;
    text-align: center;
  }

  address {
    line-height: 22px;
}

  #get-in-touch div {
    padding: 10px 75px 15px 0;
  }

  #tidings img {
    margin-top: 60px;
    width: 160px;
    height: 160px;
  }

  #tidings div {
    width: 100%;
    padding: 10px 0 15px 75px;
  }

  #tidings {
    z-index: 1;
    display: block;
  }

  footer .bottom div {
    margin: 4px 0 0 0;
    height: 292px;
  }

  #partners img {
    height: 40px;
    margin: 10px 0 20px auto;
    padding: 0;
  }

  #partners div {
    padding: 40px 75px 30px 0;
  }

  #awards img {
    vertical-align: middle;
    width: 120px;
    display: inline;
    margin: 0px 20px 0px auto;
  }

  #awards div {
    padding: 40px 0 30px 75px;
  }

  footer .top div {
    height: 130px;
    margin: 4px 0;
  }

  footer .right {
    text-align: right;
  }

  footer .left {
    text-align: left;
  }

  footer .left div, footer .right div {
    background-color: #323232;
  }

  footer h2 span {
    text-transform: none;
  }

  footer h2 {
    padding: 20px 75px;
    background-color: transparent;
  }

  footer .crossbar {
    margin-bottom: -62px; // pull headers into crossbar
    background-color: #323232;
    height: 62px;
  }

  footer .stackable {
    height: 100%;
    flex: 1 50%;
  }

  footer {
    background-color: #212121;
  }

  // Contact

  #contact {
    margin-bottom: 20px;
  }
} // End 1020px

@media (min-width: 1100px) {

  #logo { // Freeze the growth of the logo
    margin: 99px auto 121px;
    width: 572px;
    height: 399px;
  }

  header { // Keep the header above the fold, from hence forth.
    max-height: 619px;
  }
} // End 1100px

@media (min-width: 1130px) {

  #tagline {
    padding-left: 0;
  }
} // End 1130px