<a id="menu-opener" href="#">
  <i class="fa fa-bars"></i>
</a>

<nav id="menu">

  <a href="#" id="menu-closer">
    <i class="fa fa-times"></i>
  </a>

  <div id="about" class="widget">
    <h3>About Us</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, non unde eveniet. Molestiae at nisi facilis, sed excepturi fugiat reiciendis earum, id tempora quis doloribus quod, omnis eveniet architecto animi.</p>
  </div>

  <div id="images" class="widget image">
    <h3>Images</h3>
    <ul>
      <li><img src="http://lorempixel.com/50/50/cats/1/" alt="" /></li>
      <li><img src="http://lorempixel.com/50/50/cats/2/" alt="" /></li>
      <li><img src="http://lorempixel.com/50/50/cats/3/" alt="" /></li>
      <li><img src="http://lorempixel.com/50/50/cats/4/" alt="" /></li>
      <li><img src="http://lorempixel.com/50/50/cats/5/" alt="" /></li>
      <li><img src="http://lorempixel.com/50/50/cats/6/" alt="" /></li>
      <li><img src="http://lorempixel.com/50/50/cats/7/" alt="" /></li>
      <li><img src="http://lorempixel.com/50/50/cats/8/" alt="" /></li>
    </ul>
  </div>

  <div id="follow" class="widget follow">
    <h3>Follow</h3>
    <ul>
      <li><a href="#" class="ion ion-social-facebook">Facebook</a></li>
      <li><a href="#" class="ion ion-social-twitter">Twitter</a></li>
      <li><a href="#" class="ion ion-social-instagram">Instagram</a></li>
    </ul>
  </div>

</nav>