<%= render "menu" %>

<header>
  <%= image_tag "logo", alt: "Commerce Kitchen Logo", id: "logo" %>
  <%= image_tag "hero", id: "hero" %>
  <div class="opacity-cover-layer"></div>
</header>

<div id="crossbar"></div>

<main class="pagewrap">
  <h1 id="tagline">
    <span>Don't just build an app:</span><br/>
    Build your business.
  </h1>

  <section id="what-we-do" class="flex-container">
    <article class="stackable">
      <h3>
        Commerce Kitchen uses technology
        to build your business.
      </h3>
      <p>
        Whether it's an app, a website,
        or a complex software platform,
        our mission is to work collaboratively,
        create tangible growth,
        and empower your people.
      </p>
    </article>
    <article class="stackable">
      <p>
        We build web and mobile software
        for organizations looking to achieve
        one or more of the following goals:
      </p>
      <ol>
        <li><i class="fa fa-check-circle"></i>Increase revenue with new web applications or services</li>
        <li><i class="fa fa-check-circle"></i>Reduce costs using software automation or business analytics</li>
        <li><i class="fa fa-check-circle"></i>Reduce the financial risk of compliance violations particularly in the finance and healthcare sectors related to PCI, PHI, and HIPAA</li>
      </ol>
    </article>
  </section>

  <section id="contact">

    <h2>Let's Talk Shop</h2>

    <!-- <h3>Have a question or ready to get started? Fill out the form below and we'll be in touch.</h3> -->

    <form>

      <div class="flex-container">
        <div class="stackable">
          <label>Your Name</label><br/>
          <input type="text" name="name" />
        </div>
        <div class="stackable second">
          <label>Your Email</label><br/>
          <input type="text" name="email" />
        </div>
      </div>

      <div class="flex-container">
        <div class="stackable">
          <label>How can we help you?</label><br/>
          <textarea name="message"></textarea>
        </div>
        <div class="stackable second">
          <label>Which is bigger, two or 22?</label><br/>
          <input type="text" name="quiz" />
          <button>Send</button>
        </div>
      </div>

    </form>
  </section>

</main>

<%= render "footer" %>