// What We Do

#what-we-do {
  background-color: white;
  margin: 0;

  article {
    line-height: 24px;
    padding: 35px 30px 30px;

    .first {
      border-bottom: 1px solid #eee;
    }
  }

  h3 {
    margin: 0 0 18px 0;
    font-size: 18px;
    color: #323232;
  }

  p {
    margin: 0;
    color: #323232;
  }
}