// What We Do

#what-we-do {
  background-color: white;
  margin: 0;

  article {
    line-height: 24px;
    padding: 35px $gutter 30px;

    &:nth-child(1n) {
      border-bottom: 1px solid #eee;
    }

    &:nth-child(2n) {
      position: relative;
      background: transparent image-url("about-bg.jpg") no-repeat left;
      background-size: cover;
      p, ol {
        color: white;
      }
    }
  }

  h3 {
    margin: 0 0 18px 0;
    font-size: 18px;
    color: $darkish-gray;
  }

  p {
    margin: 0;
    color: $darkish-gray;
  }
}