// Contact

#contact {
  h2 {
    line-height: 30px;
    font-size: 32px;
    color: $main-red;
    background-color: white;
    padding: 30px 0 20px 30px;
    margin: 0;
  }

  form {
    padding: 20px 30px 40px;
    background-color: #eaeaea;
  }

  label {
    font-style: italic;
  }

  input,
  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 18px;
  }

  input {
    margin: 8px 0 20px 0;
  }

  textarea {
    margin: 8px 0 0px 0;
    height: 120px;
  }

  button {
    width: 100%;
    padding: 12px 0;
    border: 0;
    text-transform: uppercase;
    background-color: $dat-blue;
    color: white;
  }
}