@media (min-width: 1020px) {

  // Contact
  #contact {
    margin-bottom: 20px;
  }

  // Footer
  footer {
    background-color: #212121;

    .stackable {
      height: 100%;
      flex: 1 50%;
    }

    .crossbar {
      margin-bottom: -62px; // pull headers into crossbar
      background-color: #323232;
      height: 62px;
    }

    h2 {
      padding: 20px 75px;
      background-color: transparent;
    }

    .left div, .right div {
      background-color: #323232;
    }

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }

    .top div {
      height: 130px;
      margin: 4px 0;
    }

    .bottom div {
      margin: 4px 0 0 0;
      height: 262px;
    }
  }

  #awards {
    div {
      padding: 40px 0 30px 75px;
    }

    img {
      vertical-align: middle;
      width: 120px;
      display: inline;
      margin: 0px 20px 0px auto;
    }
  }

  #partners {
    div {
      padding: 40px 75px 30px 0;
    }

    img {
      height: 40px;
      margin: 10px 0 20px auto;
      padding: 0;
    }
  }

  #tidings {
    z-index: 1;
    display: block;

    div {
      width: 100%;
      padding: 10px 0 15px 75px;
    }

    img {
      opacity: .9;
      margin: 70px 5px 0 0;
      width: 160px;
      height: 160px;

      &:hover {
        opacity: 1;
      }
    }
  }

  #get-in-touch div {
    padding: 10px 75px 15px 0;
  }

  address {
    line-height: 22px;
  }

  #social {
    margin: 30px 0px 25px auto;
    text-align: center;
  }

} // End 1020px
