@media (min-width: 1020px) {

  // Footer

  #social {
    margin: 30px 0px 25px auto;
    text-align: center;
  }

  address {
    line-height: 22px;
}

  #get-in-touch div {
    padding: 10px 75px 15px 0;
  }

  #tidings img {
    opacity: .9;
    margin: 70px 5px 0 0;
    width: 160px;
    height: 160px;
  }

  #tidings img:hover {
    opacity: 1;
  }

  #tidings div {
    width: 100%;
    padding: 10px 0 15px 75px;
  }

  #tidings {
    z-index: 1;
    display: block;
  }

  footer .bottom div {
    margin: 4px 0 0 0;
    height: 262px;
  }

  #partners img {
    height: 40px;
    margin: 10px 0 20px auto;
    padding: 0;
  }

  #partners div {
    padding: 40px 75px 30px 0;
  }

  #awards img {
    vertical-align: middle;
    width: 120px;
    display: inline;
    margin: 0px 20px 0px auto;
  }

  #awards div {
    padding: 40px 0 30px 75px;
  }

  footer .top div {
    height: 130px;
    margin: 4px 0;
  }

  footer .right {
    text-align: right;
  }

  footer .left {
    text-align: left;
  }

  footer .left div, footer .right div {
    background-color: #323232;
  }

  footer h2 span {
    text-transform: none;
  }

  footer h2 {
    padding: 20px 75px;
    background-color: transparent;
  }

  footer .crossbar {
    margin-bottom: -62px; // pull headers into crossbar
    background-color: #323232;
    height: 62px;
  }

  footer .stackable {
    height: 100%;
    flex: 1 50%;
  }

  footer {
    background-color: #212121;
  }

  // Contact

  #contact {
    margin-bottom: 20px;
  }

} // End 1020px
