// color
$main-red: #F6595B;
$dat-blue: #62cff0;
$darkish-gray: #323232;
$very-dark-gray: #212121;
$almost-white: #f8f8f8;
$rust: #eb7b4e;

// z-index
$background: -1;
$higher-than-normal: 2;
$highest: 3;

// spacing
$gutter: 30px;
$social-width: 300px;
$footer-gradient-width: 170px;

// type
$footer-h2-size: 18px;