<!DOCTYPE html>
<html>
<head>
  <title>Commerce Kitchen Landing Page</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Montserrat:400,700', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
